---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*

# Treat the warnings from above checks as errors
WarningsAsErrors: "*"

HeaderFilterRegex: "include/.*\\.hpp$"

CheckOptions:
  - key:   readability-inconsistent-declaration-parameter-name.Strict
    value: true
  - key:   readability-redundant-access-specifiers.CheckFirstDeclaration
    value: true
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key:   readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.FunctionCase
    value: camelBack
  - key:   readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
  - key:   readability-identifier-naming.StructCase
    value: CamelCase
...

